.btn-account {
  width: 34px;
  height: 34px;
  background: none;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (width >= 1200px) {
    border: 2px solid #000;
  }
}

.btnSignIn {
  width: max-content;
  height: 100%;

  @media (width <= 1200px) {
    border: 2px solid #fff;
    color: #fff;

    &:hover {
      background: #fff;
      color: #0156FF;
    }
  }
}

.adminBtn {
  border-radius: 50px;
  &:hover {
    background-color: #A2A6B0;
  }
}
