.form {
  width: 100%;
  max-width: 565px;

  @media (max-width: 768px) {
    max-width: 340px;
  }
}

.input {
  width: 100%;
  color: #000;
  margin-top: 20px;

  & :global .MuiOutlinedInput-notchedOutline {
    border: 1px solid #A2A6B0;
    border-radius: 4px;
    width: 100%;
    color: #000;
  }

  & :global input {
    @media (max-width: 768px) {
      font-size: 12px;
      padding: 12px 13px;
    }
  }

  & :global label {
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  & :global legend {
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  @media (max-width: 768px) {
    font-size: 13px;
  }

  & :global .MuiTypography-root {
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
}

.hint {
  display: inline-block;
  width: 100%;
  color: #666666;
  font-weight: 400;
  font-size: 13px;
  line-height: 210%;
  padding-bottom: 20px;
  padding-top: 11px;
  border-bottom: 1px solid #CACDD8;

  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.btn {
  width: 210px;
  height: 50px;
  margin-top: 20px;
  background: #0156FF;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;

  @media (max-width: 768px) {
    width: 133px;
    height: 38px;
    font-size: 13px;
  }

  &:hover {
    background: #0156FF;
  }
}

.delivery-details {
  border-top: 1px solid #CACDD8;
  padding-top: 8px;

  & legend {
    color: #000;
  }
}