.text {
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper {
  padding: 40px 0 57px;
  text-align: center;
  @media (max-width: 768px) {
    display: none;
  }
}