.btn {
  width: 160px;
  height: 37px;
  border: 2px solid #0156FF;
  border-radius: 50px;
  color: #0156FF;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  @media (width <= 768px) {
    width: 129px;
    height: 33px;
  }

}
.green {
  color: green;
}

.img {
  width: 250px;
  height: 250px;
  object-fit: contain;

  @media (width <= 768px) {
    width: 150px;
    height: 150px;
  }
}

.btn-wrapper {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.description {
  align-self: flex-start;
  margin-top: 70px;

  @media (width <= 1060px) {
    display: none;
  }
}

.content-wrapper {
  align-self: center;

  @media (width <= 768px) {
    align-self: flex-start;
  }
}

.price-wrapper{
  margin-bottom: 20px;

  @media (width <= 768px) {
    flex-direction: column;
    margin-bottom: 5px;
  }
}