.terms {
  display: flex;
  justify-content: center;
  margin-left: 14%;
  margin-right: 14%;

  @media (width <= 768px) {
    margin-left: 4%;
    margin-right: 4%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1039px;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-top: 19px;

    @media (width <= 768px) {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      margin-top: 13px;
    }

    @media (width <= 375px) {
      margin-top: 10px;
      margin-bottom: 19px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-top: 26px;
    margin-bottom: 19px;

    @media (width <= 768px) {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      margin-top: 9px;
      margin-bottom: 12px;
    }

    @media (width <= 375px) {
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  &__itemTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    margin-top: 35px;
    margin-bottom: 35px;

    @media (width <= 768px) {
      font-size: 12px;
      line-height: 26px;
      margin-top: 13px;
      margin-bottom: 35px;
    }

    @media (width <= 375px) {
      margin-top: 35px;
    }
  }

  &__itemText {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;

    @media (width <= 768px) {
      font-weight: 300;
      font-size: 12px;
      line-height: 26px;
    }
  }
}

.selector__wrapper {
  display: none;

  @media (width <= 375px) {
    display: block;
    background-color: #f5f7ff;
    font-weight: bold;
  }
}
