.about_slider {
  width: 100%;
  background: #040404;
  overflow-x: hidden;
}

.about_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width <= 480px) {
    flex-direction: column-reverse;
  }
}

.about_image {
  width: 50%;
  object-fit: contain;
  min-height: 520px;
  max-height: 520px;
  height: 100%;
  margin: 0 0 0 auto;
  padding: 5px;

  @media (width <= 480px) {
    margin: 0 auto;
    width: 100%;
    height: 70vw;
  }
 }

.about_content {
  padding: 20px 40px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

  @media (width <= 810px) {
    padding: 20px 40px;
  }

  @media (width <= 480px) {
    padding: 25px;
  }
}

.about_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #FFF;

  @media (width <= 810px) {
    font-size: 16px;
  }
}
