
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 148%;
  margin-bottom: 17px;
  padding-bottom: 12px;

  @media (width <= 768px) {
    text-align: center;
  }
}
.link:hover{
  text-decoration: underline !important;
}

.description {
  color: #777F85;
  width: 120px;
  font-size: 0.9rem;;
  line-height: 20px;
  margin: 15px 0;

  @media (width <= 768px) {
    justify-content: center;
  }
}

.noOrder{
  color: #000;
}

.item {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin-bottom: 15px;
  margin-top: 15px;
  justify-content: space-between;
  border-bottom: 1px solid #DFE0E0;


  @media (width <= 768px) {
    justify-content: center;
  }

  & p {
    width: 120px;
    margin-left: 7px;
  }

}