.navMenu {
  min-width: 327px;
  justify-items: center;
  margin-left: 30px;

  @media (width <= 768px) {
    min-width: 212px;
    margin-left: 19px;
  }

  @media (width <= 700px) {
    display: none;
  }

  &__list {
    position: sticky;
    background-color: #f5f7ff;
    margin-top: 95px;
    padding: 25px;
    top: 0;
  }

  &__link {
    margin-bottom: 15px;
    color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    @media (width <= 768px) {
      font-size: 12px;
      line-height: 16px;
    }

    &:active {
      font-weight: bold;
    }
  }
}
