.container {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

.login {
    padding: 20px 0;
    margin-left: 15px;
    margin-bottom: 20px;

    @media screen and (width <= 768px) {
        padding: 20px 0 30px;
    }

    @media screen and (width <= 600px) {
        padding: 20px 0 15px;
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 1.5;
        color: #000;
        padding-bottom: 20px;

        @media screen and (width <= 768px) {
            padding-bottom: 13px;
            font-size: 18px;
        }

        @media screen and (width <= 600px) {
            padding-bottom: 16px;
        }
    }
}

.row {
    width: 100%;
    max-width: 1160px;
    display: flex;
    justify-content: flex-start;
    gap: 35px;

    @media screen and (width <= 768px) {
        gap: 20px;
        align-items: flex-start;
    }

    @media screen and (width <= 600px) {
        flex-direction: column;
        gap: 15px;
    }
}

.col {
    width: 50%;
    background: #F5F7FF;
    padding: 40px 20px;

    @media screen and (width <= 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media screen and (width <= 600px) {
        width: 100%;
    }

    &__inner {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        color: #000;
        padding-bottom: 20px;

        @media screen and (width <= 768px) {
            font-size: 16px;
            padding-bottom: 15px;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5;
        color: #000;
        padding-bottom: 20px;

        @media screen and (width <= 768px) {
            padding-bottom: 15px;
        }
    }
}

.list {
    list-style-type: disc;
    padding-left: 15px;
    padding-bottom: 35px;

    @media screen and (width <= 768px) {
        padding-bottom: 20px;
    }

    &__item {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.4;
        color: #000;
    }
}

.btn{
    background: #0156FF;
    border-radius: 50px;
    color: #fff;
    flex-shrink: 0;

    &:hover{
        background: #0156FF;
    }
}
