.wrapper {
  display: none;

  @media (max-width: 480px) {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
}

.filter-wrapper {
  display: none;

  @media (max-width: 480px) {
    width: 100%;
    max-width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
}

.btn {
  padding: 10px;
  border: 1px solid #CACDD8;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.filter-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 6;
}

.filters {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100% !important;
  background-color: #ffffff !important;
  justify-content: start !important;
  overflow-y: auto;
  z-index: 5;
}