.staticInfo {
  margin-left: 30px;
  background-color: #f5f7ff;
  height: 404px;
  width: 411px;

  @media (width <= 768px) {
    max-width: 344px;
    max-height: 326px;
  }

  &__wrapper {
    padding-top: 11px;
    margin-left: 31px;
  }

  &__contactsContainer {
    display: flex;
    margin-top: 15px;
  }

  &__contactsWrapper {
    display: inline;
    margin-left: 10px;
  }

  &__locationLogo,
  &__phoneLogo,
  &__timeLogo,
  &__emailLogo {
    width: 35px;
    height: 35px;

    @media (width <= 768px) {
      width: 30px;
      height: 35px;
    }
  }

  &__phone,
  &__scheduleText,
  &__email,
  &__adressText {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;

    @media (width <= 768px) {
      font-size: 11px;
      line-height: 16px;
    }
  }

  &__scheduleText {
    margin-top: 5px;
    margin-left: 45px;
  }

  &__email {
    text-decoration: none;
    color: blue;
  }

  &__contactsTitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;

    @media (width <= 768px) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
