.checkout {
  margin: 60px;
  text-align: center;

  @media (width <= 768px) {
    margin: 20px;
  }

  @media (width <= 375px) {
    margin: 20px;
  }

  &__wrapper {
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    margin: 40px;
    background: #f5f7ff;
    display: flex;
    flex-direction: column;

    @media (width <= 768px) {
      margin: 20px;
    }

    @media (width <= 375px) {
      margin: 20px 0;
    }
  }

  &__text {
    font-size: 30px;
    font-weight: 600;
    margin: 40px;

    @media (width <= 768px) {
      font-size: 22px;
      margin: 20px;
    }

    @media (width <= 375px) {
      font-size: 14px;
      margin: 20px 0;
    }
  }

  &__img {
    width: 200px;
    height: 150px;
    margin-top: 30px;

    @media (width <= 768px) {
      width: 150px;
      height: 110px;
    }

    @media (width <= 375px) {
      width: 110px;
      height: 70px;
    }
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;
  }

  &__container {
    display: flex;
  }
}
