.wrapper{
  width: 100%;
  max-width: 1165px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width <= 768px) {
    max-width: 497px;
  }

  @media (width <= 480px) {
    display: none;
  }
}

.sortWrapper{
  display: flex;
  gap:11px;
  align-items: center;
}