.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
  align-items: center;
  margin-top: 30px;

  @media (max-width: 768px) {
    margin-top: 15px;
  }
}

.brand {
  width: 202px;
  height: 150px;

  @media (max-width: 480px) {
    width: 173px;
    height: 116px;
  }
}