.container {
    margin: 0 auto;
    max-width: 327px;
    padding-top: 35px;


    @media (min-width: 641px) {
        max-width: 641px;
        padding-top: 47px;
    }

    @media (min-width: 1398px) {
        max-width: 1398px;
        padding-top: 47px;
    }
}

.header {
    .header-title {
        display: flex;
        flex-direction: column;
        font-family: "Poppins";
        font-style: normal;
        align-items: center;

        @media (min-width: 641px) {
            align-items: flex-start;
        }

        h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.31;

            @media (min-width: 1398px) {
                font-size: 38px;
            }
        }

        p {
            font-weight: 300;
            font-size: 12px;
            line-height: 1.31;

            @media (min-width: 1398px) {
                font-size: 16px;
            }
        }
    }
}

.links {
    @media (min-width: 1398px) {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        gap: 78px;
        padding-top: 45px;
        padding-bottom: 36px;
    }
}

.links-item {
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;

    .link-list-header {
        a {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    @media (min-width: 1398px) {
        border: none;
    }
}

.link-list-header {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
}

.link-list-header::after {
    @media (min-width: 1398px) {
        content: none;
    }
}

.link-list-group {
    margin-top: 11px;

    li {
        a {
            color: #ffffff;
        }
    }
}

.utility {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0 17px 0;

    display: grid;
    height: 100px;
    grid-template-areas:
        "s s c c"
        ". p p .";

    @media (min-width: 641px) {
        grid-template-areas: "s p c";
        grid-template-columns: repeat(3, 1fr);
    }
}

.utility>.social {
    grid-area: s;
}

.utility>.payment {
    grid-area: p;
}

.utility>.copy {
    grid-area: c;
}

.utility-social {
    display: flex;
    opacity: 0.5;
    gap: 14px;
}

.utility-payment {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);

    @media (min-width: 641px) {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
}

.utility-copy {
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.32;

    @media (min-width: 1398px) {
        font-size: 12px;
    }
}