.features {
    background: radial-gradient(50% 50% at 50% 50%, #242528 0%, #040404 100%);
    &__inner {
        padding: 75px 20px 95px;
        @media screen and (max-width: 810px) {
            padding-top: 30px;
            padding-bottom: 40px;
        }
    }

    &__header {
        max-width: 420px;
        padding-bottom: 60px;
        text-align: center;
        margin: 0 auto;
        @media screen and (max-width: 480px) {
            padding-bottom: 30px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 57px;
        line-height: 1.5;
        color: #FFF;
        padding-bottom: 30px;
        @media screen and (max-width: 810px) {
            font-size: 32px;
            padding-bottom: 15px;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.44;
        color: #FFF;
        @media screen and (max-width: 810px) {
            font-size: 16px;
        }
    }
}

.list {
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;

    @media screen and (max-width: 810px) {
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
        gap: 30px;
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: repeat(auto-fit, minmax(220px, 280px));
        gap: 20px;
    }

    &__item-heading {
        padding-bottom: 30px;

        @media screen and (max-width: 480px) {
            padding-bottom: 10px;
        }
    }

    &__item {
        width: 100%;
        text-align: center;
    }

    &__item-picture {
        width: 100%;
        max-width: 136px;
        height: auto;
    }

    &__item-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.57;
        color: #FFF;
    }
}