.wrapper {
  @media (width <= 768px) {
    display: none;
  }
}


.form {
  & :global .MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    width: 176px;
    max-height: 50px;
    border: 2px solid #CACDD8;
    border-radius: 2px;
    padding: 8px 0;
  }
}

.item {
  font-size: 13px;
  font-weight: 600;
}