@use "../../assets/styles/vars" as colors;

.features {
    background: radial-gradient(50% 50% at 50% 50%, #242528 0%, #040404 100%);
    &__inner {
        padding: 75px 15px 95px;
    }

    &__header {
        max-width: 420px;
        padding-bottom: 60px;
        text-align: center;
        margin: 0 auto;
    }

    &__title {
        font-weight: 500;
        font-size: 57px;
        line-height: 1.5;
        color: colors.$white;
        padding-bottom: 30px;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.44;
        color: colors.$white;
    }
}

.list {
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    gap: 20px;
    &__item-heading {
        padding-bottom: 30px;
    }

    &__item {
        width: 100%;
        text-align: center;
    }

    &__item-picture {
        width: 100%;
        max-width: 136px;
        height: auto;
    }

    &__item-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.57;
        color: colors.$white;
    }
}