.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  @media (max-width: 480px) {
    min-width: 100%;
    max-width: 100%;
    height: 82px;
    padding: 0 20px;
    gap: 10px;
  }
}

.name {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  color: #ffffff;
  text-align: center;
}

.link {
  font-weight: 400;
  font-size: 13px;
  line-height: 115%;
  display: block;
  color: #fff;
  text-decoration: underline;
  position: absolute;
  bottom: 30px;

  @media (max-width: 480px) {
    bottom: 10px;
    position: relative;
  }
}