.container {
  margin: 0 15px;

  @media (width <= 768px) {
    margin: 0 20px;
  }
}

.header {
  background-color: #020202;
  color: white;
  padding: 0 15px;

  & .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    margin-top: 0;
    padding: 12px 0;
    align-items: center;

    & .end {
      margin-left: auto;
    }

    & .item__logo {
      margin-bottom: -24px;
    }
  }

  & .border {
    border-radius: 15px;
    border: 1px solid #acacac;
    padding-left: 5px;
  }

  & .menu__item {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  @media (width >= 1200px) {
    font-size: 12px;
    line-height: 18px;

    & .menu {
      justify-content: space-between;

      & .end {
        margin-left: 0;
      }
    }
  }
}

.btn-logo {
  background: #0156ff;
  width: 60px;
  height: 46px;
  padding: 11px 22px;
  border-radius: 50px 50px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.logo {
  width: 18px;
  height: 24px;
}

.gray {
  color: #acacac;
}

.underline {
  border-bottom: 2px solid white;
}

.navbar {
  background: #0156ff;
  border-bottom: 1px solid #ccc;

  & .icon {
    width: 22px;
    height: 28px;
  }

  & .navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    gap: 20px;

    @media (width >= 768px) {
      gap: 15px;
    }
  }

  & .btn-menu {
    fill: white;
  }

  & .icon-logo {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    margin-bottom: -10px;
  }

  & .wrapper-shop {
    background: none;
    border: none;
    position: relative;
    margin-bottom: -5px;
  }

  & .wrapper-input {
    position: relative;
    width: 100%;
  }

  & .input-search__desktop {
    background: #f5f7ff;
    border-radius: 31px;
    width: 100%;
    outline: none;
    border: none;
    padding: 18px 30px;
  }

  & .navbar-menu {
    display: flex;
    gap: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  @media (width >= 1200px) {
    background: #fff;
    padding: 28px 0;
    justify-content: start;

    & .icon-logo {
      margin-left: 20px;
      margin-bottom: 0;
    }
  }
}

.btn-deals {
  background: none;
  font-size: 14px;
  line-height: 21px;
  padding: 5px 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;

  @media (width >= 1200px) {
    color: #0156ff;
    border: 2px solid #0156ff;
    margin-right: auto;
  }
}

.blue {
  color: #0156ff;
  border: 2px solid #0156ff;
  margin: 16px;
}

.input-search {
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  border-radius: 25px;
  outline: none;
  border: none;
  transition: width 0.5s ease-in-out;
  background: #f5f7ff;

  &:hover fieldset {
    border-color: #0156ff !important;
  }

  @media (width <= 1200px) {
    background-color: #fff;
  }
}

.searchSpinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 8px;
  top: 17px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.label {
  & :global .MuiFormLabel-root {
    font-size: 14px;
  }
}

.btn-search,
.btn-close {
  background: none;
  border: none;
}

.wrapper-appbar__icons {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  padding-bottom: 15px;
  align-items: center;
  border-bottom: 1px solid #cacdd8;

  & .icon-appbar {
    width: 27px;
    height: 33px;
  }
}

.searchList {
  position: absolute;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
  margin-top: 5px;
  border-radius: 5px;
  background: #fff;
  max-height: 200px;
  overflow-y: auto;
}

.searchWrapper {
  @media (width <= 470px) {
    position: absolute;
    top: 62px;
    width: 90%;
    left: 0;
    margin-left: 20px;
  }
}

.headerWrapper {
  @media (width <= 470px) {
    height: 126px;
    position: relative;
  }
}

.navbar__link-mobile {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;

  &:hover {
    background-color: #d1e1ff;
  }
}

.navbar__link-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 5px;
  border-radius: 5px;
  transition: .3s;

  &:hover, &.active {
    color: #0156FF;
  }
}

.active {
  color: #0156FF;
}

svg {
  transition: .3s;

  &:hover {
    filter: invert(70%) sepia(42%) saturate(3205%) hue-rotate(219deg) brightness(100%) contrast(113%);
  }
}

a:hover {
  color: #0156FF;
}

a {
  transition: .3s;
}

.wrapper-counter {
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 50px;
  position: absolute;
  top: -12px;
  right: -6px;

  & p {
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    color: #0156ff;
  }

  @media (width >= 1200px) {
    gap: 0;
    background: #0156ff;

    & p {
      color: #fff;
    }
  }
}
