.container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media screen and (max-width: 774px) {
    display: none;
  }

  .fade-text {
    padding: 10px;
    background: linear-gradient(to bottom, transparent, #fff);
    font-size: 12px;
    line-height: 18px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #fff 50%, rgb(255 255 255 / 0%) 100%);
    }

    &.expanded {
      &::after {
        height: 0;
      }
    }
  }

  .expand-button {
    position: relative;
    display: flex;
    border: 2px solid #A2A6B0;
    border-radius: 50px;
    width: 85px;
    height: 40px;
    color: #A2A6B0;
    font-size: 14px;
  }
}
