.shop__working-time {
    margin-bottom: 10px;
    margin-right: 15px;

    & span {
        font-size: 13px;
    }

    & b {
        color: #000;
        font-weight: 600;
    }
}

.shop__time-wrapper {
    display: flex;
    margin-top: 7px;
}

.timer__logo {
    width: 35px;
    height: 35px;
    margin-left: 13px;
    margin-right: 12px;

    @media (max-width: 768px) {
        width: 30px;
        height: 30px;
        margin-left: 29px;
    }

    @media (max-width: 375px) {
        margin-left: 64px;
    }
}

.shop-adress {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ececec;
    margin-top: 11px;
    padding-bottom: 10px;
    font-size: 13px;
}

.location__logo {
    margin-left: 13px;
    margin-right: 9px;

    @media (max-width: 768px) {
        width: 30px;
        height: 30px;
        margin-left: 29px;
        margin-right: 12px;
    }

    @media (max-width: 375px) {
        margin-left: 64px;
    }
}

.shop__contacts-info {
    margin-top: 6px;
    width: 100%;
    padding-left: 21px;
    margin-bottom: 7px;
    font-size: 13px;

    @media (max-width: 768px) {
        padding-left: 33px;
    }

    @media (max-width: 375px) {
        padding-left: 68px;
    }
}